.SideNav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    transition: transform 0.15s ease-out;
}

.SideNav > ul {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}

.CrossButton {
    display: block;
    align-self: flex-end;
    padding: 16px;
}

.CrossButton:hover {
    cursor: pointer;
}

.Show {
    transform: translateX(0);
}

.Hide {
    transform: translateX(-100%);
}

@media (min-width: 600px) {
    .SideNav {
        width: 230px;
    }

    .CrossButton { 
        display: none;
    }

}