.SideNav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    width: 230px;
    height: 100%;
    background-color: lightgray;
    transition: transform 0.3s ease-out;
}

.SideNav ul {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Show {
    transform: translateX(0);
}

.Hide {
    transform: translateX(-100%);
}
