.NavItem {
    display: flex;
    flex-flow: column nowrap;
}

.NavLink {
    text-decoration: none;
    color: black;
    padding: 12px 22px;
}

.NavLink:hover {
    background-color: darkgray;
    color: ivory;
}

.ChildrenList {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 16px;
    padding: 0;
}

.Hide {
    display: none;
}

.NavItem .Selected {
    background-color: darkgray;
}
