.Selected {
    background-color: darkgray;
}

.NavItem a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
}

.NavItem a:hover {
    background-color: darkgray;
    color: ivory;
}

.NavItem ul.Show {
    display: show;   
    margin-left: 15px;
}

.NavItem ul.Hide {
    display: none;
}
